// Search place
.search-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.search {
}

.search-place {
    display: flex;
    align-items: center;
    width: 440px;
    padding: 0 10px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: var(--search-bg);
}

.search-btn {
    font-size: 2rem;
    color: white;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.closeSearch-btn {
    color: white;
    width: 30px;
    height: 30px;
    font-size: 1.4rem;
    padding: 0 3px;
    cursor: pointer;
}

.search-body {
    padding: 10px 0;
    margin-left: 10px;
    border: 1px solid transparent;
    width: 100%;
    font-size: 1.6rem;
    flex: 1;
    height: 100%;
    font-size: 1.6rem;
    color: white;
    background-color: transparent;
    caret-color: white;
}

// input:focus {
// }

.search-place:focus-within {
    background-color: rgba(52, 34, 79, 0.9294117647);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.level-container {
    flex: 1.378;
    display: flex;
    justify-content: flex-end;
}

.search-result-container,
.search-title {
    display: flex;
    align-items: center;
    padding: 8px 10px;
}

.search-result-container:hover {
    background-color: var(--search-bg);
    cursor: pointer;
    border-radius: 10px;
}
