@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

:root {
    --zingmp3-logo: url('https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg');
    --background-layout-color: #170f23;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'inter', sans-serif;
    text-rendering: optimizeSpeed;
    font-size: 1.6rem;
    line-height: 1.5;
}

button,
[tabindex] {
    border: none transparent;
    outline: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
