.wrapper {
    --sidebar-bg: hsla(0, 0%, 100%, 0.05);
    --siderbar-width: 240px;
    --sidebar-text: #dadada;
    background-color: var(--sidebar-bg);
    position: relative;
    width: var(--siderbar-width);
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 100;
    padding-top: 70px;
    padding-bottom: 54px;
}

//LOGO
.logo-container {
    width: var(--siderbar-width);
    padding: 0 25px 0 28px;
    position: fixed;
    top: 0;
    display: flex;
    height: 70px;
    align-items: center;
    cursor: pointer;
}

.logo {
    cursor: pointer;
    width: 120px;
    height: 40px;
    background: var(--zingmp3-logo) 50% / contain no-repeat;
}

// Sidebar

.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: var(--sidebar-text);
}

.sidebar-container,
.sidebar-trending-container {
    position: relative;
    margin-bottom: 15px;

    &::after {
        content: '';
        position: absolute;
        bottom: -15px;
        right: 25px;
        left: 25px;
        height: 1px;
        background-color: #333;
    }
}

.sidebar-trending-container::after {
    right: 0;
    left: 0;
}

.sidebar-list,
.trending-list {
}

.sidbar-item,
.trending-item {
    display: flex;
    align-items: center;
    padding: 8px 25px;
    cursor: pointer;
    border-left: 3px solid transparent;

    &:hover {
        background-color: #393243;
        color: white;
        border-color: #9b4de0;
    }

    &:hover .play-icon {
        display: inline-block;
    }
}

.sidbar-item,
.trending-item > a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    display: flex;
}

.icon {
    margin-right: 10px;
}

.play-icon {
    flex: 1;
    position: absolute;
    right: 0;
    padding: 0 20px;
    display: none;
}

// Buttons

.login-container {
    // height: 200px;
    // overflow: scroll;
}

.title {
    margin-bottom: 10px;
    color: white;
}

.Login {
    background-color: #9b4de0;
    margin: 15px 20px 10px;
    padding: 15px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
}

.Vip {
    background-color: #9b4de0;
    margin: 15px 20px 10px;
    padding: 15px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
}
